* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FEFBF6;
}
/* Header */
.logo {
    font-size: 20px;
    cursor: pointer;
}

.nav-links li, a {
    font-weight: 500;
    font-size: 16px;
    color: #2C3333;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links li a:hover {
    color: #E2DCC8;
}

/* main */

.Ebook-title {
    font-style: italic;
    margin: 60px 10%;
}


